@media skreen and (max-width: 767px) {
  .logo {
    @include font(24px, 700, 1.16);
    align-items: center;
    padding: 16px 0;
    display: block;
    font-family: "Raleway", sans-serif;
    color: #212121;

    &:hover {
      color: var(--primary-dark-color);
    }
  }
}
.logo-accent {
  color: var(--accent-color);
}
.footer-logo {
  @include font(26px, 700, 1.2);
  color: var(--primary-lite-color);
  font-family: Raleway;
  font-style: normal;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;

  &:focus {
    color: var(--primary-lite-color);
  }
  .logo-accent {
    color: var(--accent-color);
  }
}
@media skreen and (max-width: 767px) {
}
/*Logo Tablet*/

@media skreen and (min-width: 768px) {
  .logo {
    @include font(26px, 700, 1.2);
    align-items: center;
    padding: 26px 0;
    display: block;
    font-family: "Raleway", sans-serif;
    color: #212121;
    text-align: center;
  }

  &:hover {
    color: var(--primary-dark-color);
  }
}

.logo-accent {
  color: var(--accent-color);
}

/*.logo {
  @include font(26px, 700, 1.2);
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-dark-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;

  &:hover {
    color: var(--primary-dark-color);
  }
}

.logo-accent {
  color: var(--accent-color);
}
.footer-logo {
  @include font(26px, 700, 1.2);
  color: var(--primary-lite-color);
  font-family: Raleway;
  font-style: normal;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;

  &:focus {
    color: var(--primary-lite-color);
  }
}
*/
