.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  .page-header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;

    .page-header & {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .page-header & {
      display: flex;
      align-items: center;
    }

    .team-section & {
      align-items: center;
    }
  }
}
