:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-dark-color: #000000;
  --primary-lite-color: #ffffff;
  --primary-adress-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-hero-color: #2f303a;
}
